@import "@/styles/colors.scss";

.container {
    position: relative;
}

.selectOption {
    background-color: #fff;
    border: 1px solid $orange-200;
    color: $orange-200;
    font: .875rem / 1.3125rem;
    outline: none;
    padding: 8px 32px 8px 16px;
    width: 100%;
    border-radius: 20px;
}

.icon {
    cursor: pointer;
    position: absolute;
    right: 14px;
    top: 8px;
}