@import "@/styles/colors.scss";

.wrapper {
    position: relative;
    width: 100%;
    max-width: 120px;
}

.container {
    position: relative;
    width: 100%;
    cursor: pointer;
}

.selectOption {
    background-color: #fff;
    border: 1px solid $orange-200;
    color: $orange-200;
    font: 0.875rem / 1.3125rem;
    outline: none;
    padding: 8px 32px 8px 16px;
    width: 100%;
    border-radius: 20px;
    box-sizing: border-box;
    cursor: pointer;
}

.icon {
    position: absolute;
    right: 14px;
    top: 8px;
    pointer-events: none;
}

.selectOption {
    color: $orange-200;
}

.selectOption::placeholder {
    color: $orange-200;
    opacity: 1;
}