# Backend
__pycache__
.env
backend/app/uploads/

# Frontend
node_modules

# Docker
postgres_data/
.local
.claude
CLAUDE.md
AGENT.md
AGENTS.md
plan.md
cbfx-backend-env
*.md
*.xlsx
*.pdf
*.csv
*.docx
!README.md